#contact iframe
{
    width: 100%;
}
.avier_maindiv {
    border: 1px solid black;
    padding-left:0px;
    padding-right:0px;
    float:none;
}
.travel_maindiv img {
  width:100%;
}  
.travel_maindiv hr {
    width:230px;
}
.travel_maindiv h5,.travel_maindiv {
    margin-left:20px;
}